<%@ Master Language="C#" AutoEventWireup="true" CodeFile="EmployeeMaster.master.cs" Inherits="EmployeeManagementMaster" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Employee Management System</title>

    <link rel="stylesheet" href="EmployeeStyleSheet.css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo-container">
                <img src="logo3.png" alt="Logo" class="logo">
            </div>
            <h1>Employee Management System</h1>
            <div class="profile-container">
                <img src="profile.png" alt="Profile" class="profile-img">
                    <div class="profile-dropdown">
                        <asp:Label ID="lblUsername" runat="server" CssClass="username"></asp:Label>
                        <a href="AdminLogin.aspx" class="logout-btn">Logout</a>
                        </div>
            </div>
        </header>

        <nav>
            <ul>
                <li><a href="AdminHome.aspx">Home</a></li>
                <li><a href="AddEmployee.aspx">Add Employee</a></li>
                <li><a href="ViewEmployees.aspx">View Employees</a></li>
                <li><a href="DeleteEmploye.aspx">Delete Employee</a></li>
                <li><a href="LeaveRequest.aspx">Leave Request</a></li>
            </ul>
        </nav>

        <div class="main-content">
            <form id="form1" runat="server">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                </asp:ContentPlaceHolder>
            </form>
        </div>

        <footer>
            <p>&copy; 2025 Employee Management System. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>